<form id="askQuestionForm" class="askQuestionFormclass" action="/question" method="post" style="display: none;">
    <p>
        写下你的问题<br>
        描述精确的问题更易得到解答
    </p>
    <textarea name="questionTitle"></textarea>
        <input type="text" name="questionSubject" >
    <textarea name="questionDescription"></textarea>
    <br/>
    <input type="submit" name="submit" value="提交问题">
</form>