<div id="userPageHeader">
    <p>
        知乎
    </p>
    <ul id="headerList">
        <li><a href="">首页</a></li>
        <li><a href="">发现</a></li>
        <li><a href="">话题</a></li>
    </ul>

    <form id="form"  action="/" method="post">
        <input name="searchText" type="text" placeholder="搜索你感兴趣的内容">
        <input type="submit" value="search">
    </form>
</div>
<div id="userInfo">

</div>